{% extends pack.base.template %}
{% load utils %}
{% load markup %}

{% block css %}
<style type="text/css">
	body {background: url({{ pack.background.get_file }}) center top no-repeat #fff;}
</style>
{% endblock %}

{% block body %}
	<p><strong>
		{{ page.dic.text|textile }}
	</strong></p>

	<ul id="social" class="nav feed">
		{% for key,val in portfolio.dic.social|split %}
			<li><a href="{{ val }}" class="float icon24 {{ key }}">{{ key }}</a></li>
		{% endfor %}
	</ul>

	<div class="footer">
		{{  portfolio.dic.email|obfuscate }}
	</div>

{% endblock %}

{% block beforeBodyEnd %}
	{{ block.super }}
	<script type="text/javascript" src="{{MEDIA_URL}}portfolios/js/cufon-yui.js"></script>
	<script type="text/javascript" src="{{ pack.cufon_font.get_file }}"></script>
	<script type="text/javascript">
		var cufon_elements = $.grep($('.item-title'), function(el) {return $(el).text().match(/\w+/);});
		Cufon.replace(cufon_elements, {'text-shadow': '1px 1px #000', 'fontSize': '24px'});
		Cufon.now();
		delete cufon_elements;
	</script>
{% endblock %}

