{% extends pack.base.template %}
{% load utils %}
{% load markup %}

{% block css %}
<style type="text/css">
	body {background: url({{ pack.background.get_file }}) center top no-repeat #fff;}
</style>
{% endblock %}

{% block body %}
	<p><strong>
		{{ page.dic.description|textile }}
	</strong></p>

	<ul id="social" class="nav feed">
		{% for key,val in portfolio.dic.social|split %}
			<li><a href="{{ val }}" class="float icon24 {{ key }}">{{ key }}</a></li>
		{% endfor %}
	</ul>

	<div class="footer">
		{{  portfolio.dic.email|obfuscate }}
	</div>

	<div id="footer-powered">
		<a title="{{ site_excerpt }}" href="http://{{ site.domain }}">{{ site.name }}</a> {{ site_excerpt }}
		| <a rel="nofollow" href="http://{{ site.domain }}{{ page.get_absolute_url}}">DashBoard</a>
		{% if last_portfolio %}
		| Last portfolio viewed &lrm;<a href="{{ last_portfolio.url }}">{{ last_portfolio.title }}</a>
		{% endif %}
	</div>
{% endblock %}